@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* TODO: [dropdown] 현재 hover(임시)에서 메뉴 클릭 시 드롭다운 표출되도록 변경 */
/* TODO: [modal] 스크롤 방지 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding, margin, border 포함한 크기로 계산 */
  text-decoration: none;
}

body {
  display: block;
  min-width: 500px;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR';
  font-size: 14px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  touch-action: manipulation;
  /*line-height: 1.625;*/
  scroll-behavior: smooth;
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  padding: 5px 15px 5px 15px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성 */
}

fieldset {
  border: none; /* 기본 border 없애기 */
}

.skip,
.hide,
.hidden,
legend,
caption,
.sr_only {
  position: absolute;
  left: -5000px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

/* 마우스 포인터 변하지 않도록 설정 */
.title,
.text {
  cursor: default;
}

/* 인풋 자동 완성 시 배경색 변하지 않도록 설정 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px white inset !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

/* header */
header {
  margin: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.logo-wrap {
  flex-basis: 50px;
  flex-grow: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .title-wrap {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
}

.title-wrap {
  flex-basis: 150px;
  flex-grow: 3;
  text-align: center;
}

.title-wrap > .text {
  min-width: 150px;
  font-size: 25px;
  font-weight: 900;
  color: #3b2443;
}

.menu-img {
  width: 40px;
  height: 40px;
}
/* dropdown */
nav.dropdown {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.dropdown ul ul {
  display: none; /* sub menu 숨김 */
}

.dropdown ul li {
  position: relative;
}

.dropdown ul li:hover ul {
  min-width: 135px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: calc(-100%);
  padding: 10px;
}

@media (max-width: 768px) {
  .dropdown ul li:hover ul {
    left: auto; /* 작은 화면에서는 부모 기준 오른쪽으로 위치 */
    right: 0; /* 화면에 맞춰 정렬 */
    transform: none; /* 추가 조정 제거 */
  }
}

.dropdown ul li:hover ul li .text {
  font-size: 15px;
  color: #252525;
  padding: 10px 15px 10px 15px;
}

.nav-wrap {
  flex-basis: 40px;
  flex-grow: 1;
  margin-left: auto;
}

main {
  width: 100%;
  min-height: calc(100vh - 70px - 150px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

footer .copyright {
  margin-right: 10px;
  color: rgb(167, 167, 167);
  font-size: 13px;
}

/* page title */
h2.title {
  color: #3b2443;
  text-align: center;
  margin: 80px 25px 10px 25px;
  font-weight: 700;
  white-space: nowrap;
}

/* form */
.fieldset-container {
  padding: 15px 30px 7px 30px;
  margin: 0px auto;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fieldset-container.wide {
  min-width: 500px;
}

@media (max-width: 768px) {
  .fieldset-container.wide {
    width: 90vw;
    min-width: 350px;
    border: none !important;
    padding: 0;
    margin: 0;
  }
}

.fieldset-container > input {
  width: 100%;
  min-width: 300px;
  min-height: 40px;
  margin: 5px;
}

.fieldset-container > textarea {
  width: 100%;
  resize: vertical;
  min-height: 200px;
}

.fieldset-container > label {
  width: 100%;
  margin: 5px 0px 0px 0px;
  font-weight: 500;
}

/* button */
.btn-wrap {
  /*width:100%;*/
  /*height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 15px 0px 15px 0px;
  padding: 0px 7px 0px 7px;
}

.btn-wrap.right {
  justify-content: flex-end;
}

.btn-wrap.left {
  justify-content: flex-start;
}

.btn {
  width: 100%;
  height: auto;
  line-height: normal;
  margin: 5px 0px 5px 0px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  background: #c36efc;
  color: white;
  font-size: 17px;
}
.btn.fs {
  font-size: 14px;
}

.btn.ws {
  padding: 5px;
  max-width: 85px;
}

.btn:hover {
  background: none;
  border: 1px solid #c36efc;
  color: #c36efc;
}

.btn.cancel {
  background: #252525;
  color: white;
}

.btn.cancel:hover {
  background: none;
  border: 1px solid #252525;
  color: #252525;
}

.btn.bold {
  font-weight: 500;
}

.btn.round {
  border-radius: 25px;
}

/* divider */
span.divider {
  margin-left: 10px;
  margin-right: 10px;
}

span.divider.gray {
  color: rgb(143, 143, 143);
}

/* helper text */
.helper-text {
  width: 100%;
  margin: 2px 0px 0px 0px;
  color: red;
  font-size: 13px;
  visibility: hidden;
}

/* links */
.link-wrap {
  display: flex;
  justify-content: center;
}

.link-wrap a {
  color: #c36efc;
}

.link-wrap a.gray {
  color: rgb(143, 143, 143);
}

.link-wrap > span {
  margin-right: 10px;
  color: rgb(143, 143, 143);
}

/* card list */
.card-container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.card-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.card-item {
  width: 550px;
  min-height: 150px;
  padding: 15px 35px 15px 35px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card-container:nth-child(1) {
  margin-top: 0 !important;
}

.card-content {
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.card-content > .card-title {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content > .content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
}

.card-content > .content-wrap .date {
  margin-left: auto;
}

.card-bottom {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-bottom > .bottom-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .card-container {
    padding: 5px;
  }
  .card-item {
    min-width: 350px;
    width: 90vw;
    padding-left: calc((100vw - 90vw) / 2);
    padding-right: calc((100vw - 90vw) / 2);
    margin: 0px;
  }
}

/* modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.modal-wrap {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
}

.modal {
  padding: 30px 20px 13px 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.1);
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-head-title {
  color: #3b2443;
  font-weight: 700;
  white-space: nowrap;
}

/* 검색창 */
.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrap {
  position: relative;
}

.search-input {
  margin: 10px;
  padding-left: 24px;
  padding-right: 42px;
  width: 320px;
  height: 50px;
  border-radius: 100px;
  border: 3px solid #3b2443;
}

.search-btn {
  position: absolute;
  top: 17px;
  right: calc(5%);
  border-radius: 100%;
  border: none;
  width: 36px;
  height: 36px;
  padding: 0;
}

.search-icon {
  width: 25px;
  height: 25px;
}

/* profile photo area */
.photo-container {
  margin: 25px 5px 25px 5px;
}
.photo-container #photo {
  display: none;
}

.photo-container label {
  display: none;
}

.preview-area {
  width: 150px;
  height: 150px;
  background-color: #d7b6ff;
  border: none;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.preview-area::before {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #c27afc;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

.preview-area::after {
  content: '';
  width: 130px;
  height: 100px;
  background-color: #c27afc;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
}

.preview-area .preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  background-color: white;
  z-index: 1; /* 이미지 최상단 */
}

/* 사용자 프로필 이미지 스몰 */
.user-profile-area {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d7b6ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.user-profile-area::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #c27afc;
  border-radius: 50%;
  position: absolute;
  top: 7px;
}

.user-profile-area::after {
  content: '';
  width: 35px;
  height: 25px;
  background-color: #c27afc;
  border-radius: 50%;
  position: absolute;
  bottom: -12px;
}

.user-profile-area img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  display: none;
  background-color: white;
  z-index: 1; /* 이미지 최상단 */
}

/* 게시글 */
/* 타이틀 영역 */
.title-container {
  width: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .title-container {
    width: 80vw;
    min-width: 350px;
  }
}

.title-container > .title {
  color: #3b2443;
  margin: 50px 0px 10px 0px;
  font-weight: 700;
}

.writer-wrap {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.writer-wrap > .date {
  margin-left: auto;
}

/* 본문 영역 */
.content-container {
  width: 500px;
  margin: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 10px 0px 10px;
}

@media (max-width: 768px) {
  .content-container {
    width: 80vw;
    min-width: 350px;
  }
}

.content-container .content-image {
  margin: 10px 0px 10px 0px;
  overflow: hidden;
}

.content-container .content {
  margin: 10px 0px 20px 0px;
}

.content-container .content-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  margin: 10px 0px 20px 0px;
}

.info-box {
  min-width: 100px;
  min-height: 70px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

/* 댓글 영역 */
.comment-container {
  width: 500px;
  padding: 0 10px 0 10px;
  margin: 20px 0 40px 0;
}

@media (max-width: 768px) {
  .comment-container {
    width: 80vw;
    min-width: 350px;
  }
}

.comment-container .comment {
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 10px 12px 10px 12px;
  border-radius: 10px 10px 0 0;
  /* margin-bottom: 0; */
  border-bottom: none;
  display: block;
}

.comment-container .btn-wrap {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}

.comment-list {
  width: 100%;
}
.comment-list .comment-item {
  margin-top: 25px;
}
.comment-list .comment-item > p {
  margin-left: 45px;
}
